
h1 {
  color: red;
}

/* property : value */


#home-intro{
  text-align: center;
  border: 3px solid blue;

}

#home-intro:hover{
  background-color: rgb(118, 172, 238);
}

#p2{
  color: blue;
}

#navbar{
  text-align: center;
  background-color: rgb(71, 112, 236);
  height: 25px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#navbar a{
  margin: 0px 5px;
  text-decoration: none;
  color: white;
}

#card{
  align-items: center;
  margin-top: 5px;
  height: 580px;
  width: 300px;
  border: 3px solid black;
  margin: 3px auto;
  border-radius: 5px;
  background-color: rgb(118, 172, 238);
}

#card-img{
  width: 300px;
  height: 300px;
  align-items: center;
  margin: 0px auto;
}

img{
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#action{
  text-align: center;
}

button{
  width: 100%;
   background-color: #630a63;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button:hover{
   background-color: #ec72ec;
}